<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiang.shanwe.mapper.RecordMapper">

	<insert id="insertRecord" parameterType="com.jiang.shanwe.model.Record"
		useGeneratedKeys="false">
		insert into Record(id,
		ownerId,count,comments,consumeDate,createdDate,updatedDate,status,syncStatus)
		values(#{id},
		#{ownerId},#{count},#{comments},#{consumeDate.fastTime},#{createdTime.fastTime},#{updatedTime.fastTime},#{status},1)
	</insert>

	<delete id="deleteAllRecords">
		delete from record
	</delete>

	<select id="findAllRecords" resultType="List" resultMap='recordMap'
		parameterType="int">
		select * from record
		where ownerId=#{userId}
	</select>

	<resultMap type='com.jiang.shanwe.model.Record' id='recordMap'>
		<id property='id' column='id' />
		<result property='ownerId' column='ownerId' />
		<result property='count' column='count' />
		<result property='comments' column='comments' />
		<result property='consumeDate' column='consumeDate' jdbcType="BIGINT"
			javaType="Date" />
		<result property='createdTime' column='createdDate' jdbcType="BIGINT"
			javaType="Date" />
		<result property='updatedTime' column='updatedDate' jdbcType="BIGINT"
			javaType="Date" />
		<result property='status' column='status' />
		<result property='syncStatus' column='syncStatus' />
	</resultMap>

</mapper>
